#contact.w-100.bg-white.tc
  .tc.w-80-m.w-70-l.center.pb4
    h3.f3 I love meeting new people passionate about startups and apps.
    h3.f3 Please, feel free to contact me anytime.
    .dib-ns
      a.pr3-l.pb0-l.pb3.dib-l.db(href="mailto:levi@curiosityio.com")
        .button.f5 Email me
      a.pr3-l.pb0-l.pb3.dib-l.db(href="https://twitter.com/levibostian")
        .button.f5 DM me on Twitter
      a(href="https://curiosityio.com")
        .button.f5 Check out freelance services.
