footer.w-100.bt
  .pv4.ph3.ph5-ns
    .center.pt3.tc
      mixin socialLink(href, image, alt)
        a(href=href target="_blank")
          img.mw2.pa2(src=image, alt=alt)
      +socialLink('https://twitter.com/levibostian', '/img/twitter.svg', "Link to Levi's Twitter profile")
      +socialLink('https://github.com/levibostian', '/img/github.svg', "Link to Levi's GitHub profile")
