span
  include _liquid
  +_if("include.status == 'active'")
    h3.f5.dib.pa2.white.bg-light-green.ma0 Active
  +_if("include.status == 'in-dev'")
    h3.f5.dib.pa2.white.bg-gold.ma0 In development
  +_if("include.status == 'paused'")
    h3.f5.dib.pa2.white.bg-orange.ma0 Paused
  +_if("include.status == 'not-active'")
    h3.f5.dib.pa2.white.bg-pink.ma0 Not active
  +_if("include.status == 'graveyard'")
    h3.f5.dib.pa2.white.bg-gray.ma0 Graveyard
