doctype html
html(lang='en')
  | {% include _head %}
  body
    include _liquid
    .w-100
      .w-100.min-h-100.top-0.ph2(style="background-color: {{ page.color | default: '#2D9668' }}")
        .f-subheadline-ns.f1.white.tl.pt6.mw7-ns.center  {{ page.title }}
        .f2-ns.f3.white.tl.mw7-ns.center.pt3.pb4  {{ page.slogan }}
      //a(v-bind:href="this.$props.parent.link")
        h4.w-100.w-70-ns.center.dark-gray.pl3 &#8592; {{ page.backTitle }}
      .project-content-body.w-100.w-50-ns.bg-white.center.pa3.bb.b--black-10
        h1.f-headline-l.f2.lh-solid.mv5-l.mv3 {{ page.title }}
        | {% include _project_status status=page.status %}
        +_if("page.timeline")
          h1.f4.mb1 Worked on: {{ page.timeline }}
        +_if("page.location")
          div.f5 Based out of: {{ page.location }}
        +_if("page.website")
          a(href="{{ page.website }}")
            h3.green Website
        hr
        div 
          | {{content}}
    | {% include _navbar %}
    | {% include _contact.pug %}
    | {% include _footer %}
